header {
	background-color: #FFFFFF;
	text-align: center;
	padding: 20px 10px;
}

.logo {
	position: absolute;
	width: 28px;
	height: 49px;
	left: 34px;
	top: 17px;
}
.geo {
	position: absolute;
	width: 120px;
	height: 19px;
	left: 64px;
	top: 20px;
}

.sesi {
	position: absolute;
	width: 44px;
	height: 35px;
	left: 82px;
	top: 34px;
}

.lupa{
	position: absolute;
	left: 84.72%;
	right: 12.78%;
	top: 2.83%;
	bottom: 93.65%;
}

.menu{
	position: absolute;
	left: 92%;
	right: 13%;
	top: 3.50%;
	bottom: 93.65%;
}

.brra {
	position: absolute;
	left: 89.30%;
	right: 13%;
	top: 3.50%;
	bottom: 93.65%;
}

.barra {
	position: absolute;
	width: 1420px;
	height: 8px;
	left: 60px;
	top: 90px;
	background-color: black;
}

main {
	
}
.dominio{
	position: absolute;
	width: 164px;
	height: 55px;
	left: 380px;
	top: 90px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: center;	

}

.Blogs{
	position: absolute;
	width: 164px;
	height: 55px;
	left: 680px;
	top: 90px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: center;	
}

.contato{
	position: absolute;
	width: 0px;
	height: 0px;
	left: 1010px;
	top: 90px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
}

.brra1{
	position: absolute;
	left: 40%;
	right: 13%;
	top: 14%;
	bottom: 93.65%;
}

.brra2{
	position: absolute;
	left: 63%;
	right: 13%;
	top: 14%;
	bottom: 93.65%;

}


.box1{
	box-sizing: border-box;

	position: absolute;
	width: 342px;
	height: 273px;
	left: 350px;
	top: 50px;

	background: #F4F4F4;
	border: 3px solid #079E0D;
}

.box2{
	position: absolute;
	width: 528px;
	height: 390px;
	left: -264px;
	top: 163px;

	background: #FFFFFF;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img1 {
	height: 267px;
	width: 336;

}
.Hidrografia {
	display: flex;
	margin-top: 3000px;
}
.img {
	top: 3000px;
	left: 1000;
}
.tt {
	position: absolute;
	width: 186px;
	height: 25px;
	left: 579px;
	top: 3100px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
}
.txt {
	position: absolute;
	width: 518px;
	height: 133px;
	left: 467px;
	top: 3200px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;

}
.txt1 {
	position: absolute;
	width: 308px;
	height: 25px;
	left: 550px;
	top: 0px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;


	text-align: center;

	color: #079E0D
}
.txt2 {
	position: absolute;
	width: 602px;
	height: 114px;
	left: 400px;
	top: 50px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}
.img2 {
	position: absolute;
	width: 69px;
	height: 28px;
	left: 650px;
	top: 200px;
}
.risco {
	position: absolute;
	width: 345px;
	height: 1px;
	left: 535px;
	top: 50px;

}

.txt3 {
	position: absolute;
	width: 166px;
	height: 25px;
	left: 407px;
	top: 800px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #079E0D;
}
.txt4 {
	position: absolute;
	width: 855px;
	height: 273px;
	left: 43px;
	top: 870px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
}
.imga {
	position: absolute;
	width: 345px;
	height: 1px;
	left: 317px;
	top: 850px;
}
.img5 {
	position: absolute;
	width: 69px;
	height: 28px;
	left: 445px;
	top: 1080px;
}

.box3{
	position: absolute;
	width: 244px;
	height: 350px;
	left: 1270px;
	top: 668px;

	background: #FFFFFF;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box4{
	box-sizing: border-box;

	position: absolute;
	width: 342px;
	height: 271px;
	left: -200px;
	top: 40px;

	background: #F4F4F4;
	border: 3px solid #079E0D;
}

.txt5 {
	position: absolute;
	width: 308px;
	height: 25px;
	left: -720px;
	top: 13px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;

	text-align: center;

	color: #079E0D

}

.risco1 {
	position: absolute;
	width: 345px;
	height: 1px;
	left: -740px;
	top: 60px;
}

.txt6 {
	position: absolute;
	width: 602px;
	height: 114px;
	left: -870px;
	top: 65px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}
.txt7 {
	position: absolute;
	width: 602px;
	height: 114px;
	left: -870px;
	top: 60px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}
	
.img3 {
	position: absolute;
	width: 69px;
	height: 28px;
	left: -600px;
	top: 300px;
}

.box5{
	position: absolute;
	width: 244px;
	height: 350px;
	left: 0px;
	top: 1268px;

	background: #FFFFFF;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box6{
	box-sizing: border-box;

	position: absolute;
	width: 342px;
	height: 271px;
	left: 100px;
	top: 40px;

	background: #F4F4F4;
	border: 3px solid #079E0D;
}

.deco1 {
	position: absolute;
	width: 600px;
	height: 8px;
	left: 105px;
	top: 1150px;
	background-color: black;
}

.img4{
	position: absolute;
	width: 69px;
	height: 28px;
	left: 725px;
	top: 1140px;
}

.deco2 {
	position: absolute;
	width: 600px;
	height: 8px;
	left: 805px;
	top: 1150px;
	background-color: black;
}

.txt8 {
	position: absolute;
	width: 308px;
	height: 25px;
	left: 550px;
	top: 0px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;

	text-align: center;

	color: #079E0D

}

.risco2 {
	position: absolute;
	width: 345px;
	height: 1px;
	left: 530px;
	top: 50px;
}

.txt9 {
	position: absolute;
	width: 602px;
	height: 114px;
	left: 400px;
	top: 50px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}

.img5 {
	position: absolute;
	width: 69px;
	height: 28px;
	left: 680px;
	top: 200px;
}

.box7{
	position: absolute;
	width: 244px;
	height: 350px;
	left: 1272px;
	top: 1750px;



	background: #FFFFFF;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box8 {
	box-sizing: border-box;

	position: absolute;
	width: 342px;
	height: 271px;
	left: -200px;
	top: 40px;

	background: #F4F4F4;
	border: 3px solid #079E0D;
}

.txt10 {
	position: absolute;
	width: 308px;
	height: 25px;
	left: -715px;
	top: 13px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;

	text-align: center;

	color: #079E0D
}

.risco3 {
	position: absolute;
	width: 345px;
	height: 1px;
	left: -715px;
	top: 60px;
}

.txt11 {
	position: absolute;
	width: 602px;
	height: 114px;
	left: -850px;
	top: 50px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}

.img6 {
	position: absolute;
	width: 69px;
	height: 28px;
	left: -600px;
	top: 190px;
}

.deco3 {
	position: absolute;
	width: 600px;
	height: 8px;
	left: 40px;
	top: 2250px;
	background-color: black;
}

.img7{
	position: absolute;
	width: 69px;
	height: 28px;
	left: 650px;
	top: 2240px;
}

.deco4 {
	position: absolute;
	width: 600px;
	height: 8px;
	left: 720px;
	top: 2250px;
	background-color: black;
}

.box9{
	position: absolute;
	width: 244px;
	height: 350px;
	left: 0px;
	top: 2368px;

	background: #FFFFFF;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box10{
	box-sizing: border-box;

	position: absolute;
	width: 342px;
	height: 271px;
	left: 100px;
	top: 40px;

	background: #F4F4F4;
	border: 3px solid #079E0D;
}

.txt12 {
	position: absolute;
	width: 308px;
	height: 25px;
	left: 550px;
	top: 0px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;

	text-align: center;

	color: #079E0D

}

.risco4 {
	position: absolute;
	width: 345px;
	height: 1px;
	left: 530px;
	top: 50px;
}

.txt13 {
	position: absolute;
	width: 602px;
	height: 114px;
	left: 400px;
	top: 50px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}

.img8 {
	position: absolute;
	width: 69px;
	height: 28px;
	left: 680px;
	top: 210px;
}

.box11{
	position: absolute;
	width: 244px;
	height: 350px;
	left: 1272px;
	top: 2850px;

	background: #FFFFFF;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box12 {
	box-sizing: border-box;

	position: absolute;
	width: 342px;
	height: 271px;
	left: -200px;
	top: 40px;

	background: #F4F4F4;
	border: 3px solid #079E0D;
}

.txt14 {
	position: absolute;
	width: 308px;
	height: 25px;
	left: -720px;
	top: 0px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;

	text-align: center;

	color: #079E0D
}

.risco5 {
	position: absolute;
	width: 345px;
	height: 1px;
	left: -740px;
	top: 50px;
}

.txt15 {
	position: absolute;
	width: 602px;
	height: 114px;
	left: -850px;
	top: 50px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}

.img9 {
	position: absolute;
	width: 69px;
	height: 28px;
	left: -600px;
	top: 170px;
}

.deco5 {
	position: absolute;
	width: 600px;
	height: 8px;
	left: 105px;
	top: 3300px;
	background-color: black;
}

.img10{
	position: absolute;
	width: 69px;
	height: 28px;
	left: 725px;
	top: 3290px;
}

.deco6 {
	position: absolute;
	width: 600px;
	height: 8px;
	left: 825px;
	top: 3300px;
	background-color: black;
}