header {
	background-color: #FFFFFF;
	text-align: center;
	padding: 20px 10px;
}

.logo {
	position: absolute;
	width: 28px;
	height: 49px;
	left: 34px;
	top: 17px;
}
 HEAD
.geo {
	position: absolute;
	width: 120px;
	height: 19px;
	left: 64px;
	top: 20px;
}

.sesi {
	position: absolute;
	width: 44px;
	height: 35px;
	left: 82px;
	top: 34px;
}

.barra {
	position: absolute;
	width: 1438px;
	height: 8px;
	left: 40px;
	top: 245px;
	background-color: black;
}

.box1{
	box-sizing: border-box;

	position: absolute;
	width: 342px;
	height: 273px;
	left: 350px;
	top: 50px;

	background: #F4F4F4;
	border: 3px solid #079E0D;
}

.box2{
	position: absolute;
	width: 528px;
	height: 390px;
	left: -264px;
	top: 163px;

	background: #FFFFFF;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img1 {
}
.Hidrografia {
	display: flex;
	margin-top: 3000px;
}
.img {
	top: 3000px;
	left: 1000;
}
.tt {
	position: absolute;
	width: 186px;
	height: 25px;
	left: 579px;
	top: 3100px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
}
.txt {
	position: absolute;
	width: 518px;
	height: 133px;
	left: 467px;
	top: 3200px;

	font-family: 'Lexend Zetta';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	text-align: center;

}